#header {
    height: 50px;
    width: 100%;
    background-color: #4f4f4f;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
    display: flex;
    font-size: 24px;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: 700;
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}